// body {
//     width: 90%;
//     text-align: center;
//     margin: 0 auto;
// }

.hidden
{
    display: none;
}

p
{
    font-family: 'Merriweather Sans', sans-serif;
    color: #595654;
}

h1, h2, h3
{
    font-family: 'Poppins', sans-serif;
    color: #595654;
}

#header 
{
    background: #f2f2f2;
    color: rgba(255, 255, 255, 0.75);
    height: 6.25em;
    left: 0;
    padding: 20px 0 20px 0 ;
    line-height: 4.25em;
    position: fixed;
    text-align: right;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .logo 
{
    margin: .25em 0;
    align-self: left;
    height: inherit;
}

.logoMobile
{
    margin-left: 25px;
}

#header nav a {
    transition: color 0.2s ease-in-out;
    display: inline-block;
    padding: 0 1em;
    color: inherit;
    text-decoration: none;
}

// NAV HAMBURGER TEXT

#mainNav button
{
	background: url(../images/burger.svg) center no-repeat;
	width: 40px;
	height: 40px;
	border: 0px;
	transition: all 400ms ease;
    margin-left: auto;
    // background-color: #8ea75d;
    justify-content: flex-end;
    margin-right: 40px;
    margin-top: 20px;
}

#mainNav button.expanded
{
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
    background: url(../images/burgerActive.svg) center no-repeat;
	width: 30px;
	height: 30px;
}

#mainNav li a
{
	display: block;
	padding: 10px 0 10px 0; 
	color: #8ea75d;
	text-align: center;
    font-family: 'Averia Serif Libre', cursive;
    color: black;
}

#mainNav li
{
	border-bottom: 1px solid #efefef;
}

#mainNav li:first-child
{
	border-bottom: 1px solid #efefef;
}

#mainNav li:last-child
{
	margin-bottom: 10px;
}

#burgerCon
{
	margin-top: 20px;
	display: none;
}

#burgerCon.slideToggle
{
	display: block;
}

// -----------BANNER--------------

#bannerImage img 
{
    width: 100%;
    height: auto;
    margin-bottom: 50px; 
}

.bannerText
{
    text-align: center;
}

#bannerButton
{
    background: #f1670d;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    border-radius: 50px;
    line-height: 2em;
    margin-top: 12px; 
    padding-left: 20px;
    padding-right: 20px;
}

// -----------CIRCLES--------------

.circle img
{
    border-radius: 100px;
}

.circle
{
    text-align: center;
}

.circle p
{
    margin-left: 50px;
    margin-right: 50px;
}

.infoCircles
{
    justify-content: space-evenly;
}


// -----------INFO SQUARES--------------

.content
{
    background-color: #f8f8f8;
}

.square1, .square2, .square3
{
    display: block;
    text-align: center;
}
.square1Image, .square2Image, .square3Image
{
    width: 100%;
    height: 500px;
}

.square1Text, .square2Text, .square3Text
{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}


@media screen and (min-width: 640px) {

    #infoCircles
    {
        display: flex;
        justify-content: space-evenly;
    }

    .circle
    {
        flex-direction: row;
    }

    .square2
    {
        display: none;
    }

    .square2Desktop
    {
        display: contents;
    }

    .square1, .square2Desktop, .square3
    {
        display: flex;
        flex-direction: row;
    }
    .square1Image, .square2Image, .square3Image
    {
        width: 50%;
        height: 500px;
    }
    
    .square1Text, .square2Text, .square3Text
    {
        width: 50%;
        height: 500px;
    }

}

@media screen and (min-width: 965px){

    .logoMobile
    {
        display: none;
    }

    .logoDesk
    {
        display: inline;
        width: 98%;
        margin-left: 25px;
    }

    .nav
    {
        display: none;
    }

    .deskNav
    {
        display: contents;
        display: flex;
    }

    #desktopNav ul
    {
        display: flex;
        flex-direction: row;
    }

    #desktopNav ul li a
    {
      display: block;
      text-decoration: none;
      position: relative;
      transition: 0.5s;
      margin-left: 10px;
      margin-right: 10px;
      flex: 1;
      list-style-type: none;
      font-family: 'Poppins', sans-serif;
      font-size: 20px;
      color: #595654;
    }

    .shopNowButton
    {
        background: #f1670d;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        color: white;
        border-radius: 50px;
        line-height: 2em;
        margin-top: 12px; 
    }
}

@media screen and (min-width: 965px){

    .logoDesk
    {
        display: inline;
        width: 100%;
    }
}

// -----------FOOTER--------------

footer
{
	bottom: 0;
}

.footerMain
{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-size: bold 16px;
	padding: 30px 22px;
	margin-top: 80px;
}
 
.footerMain .footerLeft,
.footerMain .footerMiddle,
.footerMain .footerRight
{
	display: inline-block;
	vertical-align: top;
}
 
.footerMain .footerLeft
{
	width: 40%;
}
 
.footerMain h3
{
	color:  #ffffff;
	font-family: 'Merriweather Sans', sans-serif;
	margin: 0;
}
 
.footerMain h3 span
{
	color:  #5383d3;
}
 
 
.footerMain .footerLinks
{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footerMain .footerLinks a
{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footerMain .copyright
{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footerMain .footerMiddle
{
	width: 35%;
}
 
.footerMain .footerMiddle i
{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footerMain .footerMiddle i.fa-envelope
{
	font-size: 17px;
	line-height: 38px;
}
 
.footerMain .footerMiddle p
{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footerMain .footerMiddle p span
{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footerMain .footerMiddle p a
{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footerMain .footerRight
{
	width: 20%;
}
 
.footerMain .footerAbout
{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footerMain .footerAbout span
{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footerMain
{
	margin-top: 25px;
}
 
@media (max-width: 880px) {
 
    .footerMain
    {
        font-family: 'Merriweather Sans';
	}
 
	.footerMain .footerLeft,
	.footerMain .footerMiddle,
    .footerMain .footerRight
    {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
    .footerMain .footerMiddle i
    {
		margin-left: 0;
    }
   
    .main 
    {
		line-height: normal;
		font-size: auto;
	}
 
}