<!--Main Content-->

<section id="infoCircles">
        <h2 class="hidden">Info Circles</h2>
    <div class="circle">
        <img src="../images/security.svg" alt="" height="200px" width="200px">
        <h2>Security</h2>
        <p>Seeing is believing. Access the home security on your preferred device to check in on your house through the remote, portable cameras. Stream live video and save recorded clips to watch later. The eyes on the back of your head. You can check on your home from anywhere around the globe.</p>
    </div>

    <div class="circle">
        <img src="../images/on_the_go.svg" alt="" height="200px" width="200px">
        <h2>On the go</h2>
        <p>Download the Thermosecurity app (for IOS and Android) to get access of your Thermosecurity features from your phone and tablet. Watch live feed or record and save clips wherever you are. Change the temperature of your home before you leave work so you can arrive home to the perfect temperature.</p>
    </div>
    
    <div class="circle">
            <img src="../images/automated.svg" alt="" height="200px" width="200px">
            <h2>Home Automation</h2>
            <p>Save yourself time, stress and money with our automated controls. You may wish to look for independent room temperatures, smoke and carbon monoxide status and smart lighting control. Let Thermosecurity be your portable assistant when life gets busy.</p>
    </div>
</section>

<section id="infoSquares">
        <h2 class="hidden">Info Squares</h2>

    <div class="square1 content">
        <div class="square1Text">
            <h2>Plans</h2>
            <p>Packages starting at $99<br>Get a quote today<br>100% risk free trial</p>
        </div>

        <div class="square1Image">
            <img src="../images/plans.jpg" alt="" height="500px" width="100%">
        </div>

    </div>

    <div class="square2 content">
            <div class="square2Text">
                <h2>Multi-Platform</h2>
                <p>Available tracking on mobile, tablet and desktop.<br>Download our app today! Available on iOS and android.</p>
            </div>

            <div class="square2Image">
                <img src="../images/multi_platform.jpg" alt="" height="500px" width="100%">
            </div>

    </div>

    <div class=" hidden square2Desktop content">

            <div class="square2Image">
                <img src="../images/multi_platform.jpg" alt="" height="500px" width="100%">
            </div>
            
            <div class="square2Text">
                <h2>Multi-Platform</h2>
                <p>Available tracking on mobile, tablet and desktop.<br>Download our app today! Available on iOS and android.</p>
            </div>

    </div>

    <div class="square3 content">
            <div class="square3Text">
                <h2>Equipment</h2>
                <p>Thermosecurity device runs on cellular connection<br>with built in WiFi and Bluetooth backup. Plus, powerful<br>encryption against hackers.</p>
            </div>

            <div class="square3Image">
                <img src="../images/google_home@2x.jpg" alt="" height="500px" width="100%">
            </div>

    </div>

</section>