<!--Main Content-->

<section id="infoCircles">
        <h2 class="hidden">Info Circles</h2>
    <div class="circle">
        <img src="../images/test.jpg" alt="" height="200px" width="200px">
        <h2>Heading goes here</h2>
        <p>Info text goes here</p>
    </div>

    <div class="circle">
        <img src="../images/test.jpg" alt="" height="200px" width="200px">
        <h2>Heading goes here</h2>
        <p>Info text goes here</p>
    </div>
    
    <div class="circle">
            <img src="../images/test.jpg" alt="" height="200px" width="200px">
            <h2>Heading goes here</h2>
            <p>Info text goes here</p>
    </div>
</section>

<section id="infoSquares">
        <h2 class="hidden">Info Squares</h2>

    <div class="square1 content">
        <div class="square1Text">
            <h2>This is our product</h2>
            <p>we love it so much! we love it so much! we love it so much!</p>
        </div>

        <div class="square1Image">
            <img src="../images/placeholder.jpg" alt="" height="300px" width="100%">
        </div>

    </div>

    <div class="square2 content">
            <div class="square2Text">
                <h2>This is our product</h2>
                <p>we love it so much! we love it so much! we love it so much!</p>
            </div>

            <div class="square2Image">
                <img src="../images/placeholder.jpg" alt="" height="300px" width="100%">
            </div>

    </div>

    <div class=" hidden square2Desktop content">

            <div class="square2Image">
                <img src="../images/placeholder.jpg" alt="" height="300px" width="100%">
            </div>
            
            <div class="square2Text">
                <h2>This is our product</h2>
                <p>we love it so much! we love it so much! we love it so much!</p>
            </div>

    </div>

    <div class="square3 content">
            <div class="square3Text">
                <h2>This is our product</h2>
                <p>we love it so much! we love it so much! we love it so much!</p>
            </div>

            <div class="square3Image">
                <img src="../images/placeholder.jpg" alt="" height="300px" width="100%">
            </div>

    </div>

</section>