<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<main>
    <header id="header">
        <div class="box logo">
            <img src="../images/logo_housecom.svg" alt="Company Logo" height="100%" width="100%">
        </div>

        <div class="nav">
                <nav id="mainNav">
                    <h2 class="hidden">Main Navigation</h2>
                    <button id="button"></button>
                <div id="burgerCon">
                    <ul id="burgerMenu">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Support</a></li>                        
                    </ul>
                </div>
            </nav>
    
        </div>
        <div class="hidden deskNav">           
            <nav id="desktopNav">
                <ul style="list-style: none" class="links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#" class="shopNowButton">Shop Now</a></li>
                </ul>
            </nav>
        </div>         
    </header>

    <section id="bannerImage">
        <div class="banner">
            <img src="../images/test.jpg" alt="Product Photo" width="100%">
        </div>
        <button>Shop Now</button>
    </section>


    {{{ body }}}

    <footer class="footerMain">
 
		<div class="footerLeft">
 
		<p class="footerLinks">
		    <a href="#">Home</a>
		    <a href="#">About Us</a>
		    <a href="#">Support</a>
		    <a href="#">Shop Now</a>
		</p>
 
		<p class="copyright">Thermo Security &copy; 2019</p>
		</div>
 
		<div class="footerMiddle">
 
		    <div>
		        <p><span>675 Richmond Street</span> London, Ontario</p>
	    	</div>
 
	    	<div>
	    	    <p>519 494 5657</p>
	    	</div>
 
	    	<div>
	    	    <p><a href="#">support@thermosecurity.com</a></p>
	    	</div>
 
		</div>
 
		<div class="footerRight">
		    <p class="footerAbout"><span>Thermo Security</span>Thermo Security system is fully 
             digital, hardwired and wireless enabled home and personal and secure environment control system.</p>
		</div>
 
	</footer>
</main>
</html>